body {
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(to bottom, #cff0e6, #f4f4f4);
  color: #333;
  margin: 0;
  padding: 0;


}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Cabeçalho */
header h1 {
  font-size: 40px;
  text-align: center;
  color: #111;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

/* Imagem do perfil */
img {
  width: 400px;
  border: 2px solid #ddd;
  border-radius: 15px;
  display: block;
  margin: 0 auto 20px auto;
}

/* Texto principal */
p {
  font-size: 20px;
  text-align: justify;
  line-height: 1.7;
  margin-bottom: 20px;
}

/* Link voltar */
a {
  display: inline-block;
  font-weight: bold;
  color: #68ceaf;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #68ceaf;
  border-radius: 6px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

a:hover {
  background-color: #51bb9b;
  color: #fff;
}

/* Rodapé */
footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #777;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

/* Título dos certificados */
h2 {
  text-align: center;
  color: #222;
  margin-top: 40px;
  margin-bottom: 20px;
}
p{
  text-align: center;
}


